*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    flex-wrap: wrap;
    
    max-width: 1200px;

    margin-left: auto;
    margin-right: auto;
}

 
.container header .header {
    display: flex;
    
    background-color: yellow;
    width: 1200px;
    height: 30px;
    justify-content: space-between;
    
} 


.container header {

    display: flex;
    
    width: 100%;
    
    border: 1px solid green;
    
    background-color: #add8e6;
    
    padding: 20px 360px;
}


.container .header ul {
    display: flex;
    list-style-type: none;
}


.container section {
    border: 1px solid red;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 60px;
}


.container .special-1 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px 500px;
    
}

.container section .section-1{
    display: flex;
    
    border: 1px dotted black ;

    width: 900px;
    height: 400px;

    background-color: #ee82ee;
}

.section-2{
    display: flex;
}

.section-3 {
    display: flex;
    
}

.section-4 {
    display: flex;
    
}

.container section .section-5{
    display: flex;
    
    border: 1px dotted black ;
    width: 1200px;
    height: 890px;
    background-color: #228b22;
}

.footer {
    display: flex;
}
section aside {
    width: 475px;
}

section  main {
    flex-grow: 1;
}